<!DOCTYPE html>
<p>
  searh works!
</p>
<input (keyup)="onKey($event)">
<button (click)="getUsersbtn()">Search</button>

<p>{{ searchCount }}</p>

<ol class="_userContainer" *ngIf="searchResult">
  <li class="_userList" *ngFor="let user of searchResult.items">
    <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{user.login}}</md-card-title>
    </md-card-header>
    <img md-card-image [src]="user.avatar_url">
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
  </li>
</ol>